body
{
  text-align: center;
  background-size: cover;
  background-color: #FCFFFF;
  background-opacity:0.6;
  color:#140800;
  font-family:'Peirot One', serif;
  font-size: 16px;
  margin: 0em 0em;
  padding: 0em 0em;
 }


h1
{
  font-size: 5em;
  color: #FAE9E1;
  background-color: #fff;
  font-family:'Peirot One', serif;
  border-style:solid;
  border-color:#FFD1C0;
  font-weight:500;
   -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: black;
	}

header{
  color: #2F343B;
}

nav,.nav-list-item a,.navbar{
    font-family:'Josefin Sans';
    font-weight: 20em;
    letter-spacing: .5em;
    background-color: #fff;
    text-align: center;
    font-style: none;
    text-decoration: none;
}
 centered{
    background-color: #fff;
    width: 60%;
    display: box;
    flex-align: right;
    flex-pack: right;
}


p{
  font-family: 'Nixie One'
  font-size: 3px;
}

.column{
  float:left;
  width: 30%;
  height: auto;
  padding: 0;
  margin: 0;
}

.menu-block {
  display: block;
  float: right;
  width: 23%;
  height: 90px;
  margin: 0;
  text-align: left;
  font-size: 33px;
  line-height: 35px;
  border-left: 1px solid black;
  text-decoration: none;
  text-align: center;
}

#mirror{
  width: 100%;
}

#logo{
    display: none;
  }


@media only screen and (max-width: 500px){
  .menu-block{
    float: right;
    width: 100%;
    margin: 0;
    line-height: 15px;
    display: block;
    font-size: 2.5em;
    background-color: #FFD7C0; 
    background-size: cover;
    padding: .6em 0 0 0;
    text-decoration: none;
    font-style: none;
}
  h1{
    display: none;
  }
  
  #logo{
    display: inline-block;
    }
}

   #column2,#column3{
    display: none;
}
  .column{
    display: block;
    width: 100%;
    height: auto;
    font-size: .5em
}
}

@media only screen and (max-width: 600px) {
 
  #logo{
    display: none;
  }  
  .menu-block{
  float: right;
  width: 50%;
  margin: 0;
  line-height: 25px;
  display: block;
  height: 90px;
  text-align: center;
  font-size: 2.5em;
  line-height: 35px;
  border-left: 1px solid black;
  background-color: #FFD7C0;
}
  
  h1{
  font-size: 3em;
  color: #FAE9E1;
  background-color: #fff;
  font-family:'Peirot One', serif;
  }

  .column{
    display: block;
    width: 100%;
    height: auto;
    font-size: .5em
  }
  #column2,#column3{
    display: none;
}
  #mirror{
      width:100%;} 

  #bushcollage{
      width: 10%;
 }
}

iframe {
  width: 100%;
}

#column1 {
  background-color: #EC988E;
}

#column2 {
  background-color: #8A1C11;
} 

#column3{
  background-color: #B5A5A3
}

.cleafixafter{
  visibility: hidden;
  display: block;
  font-size: 0;
  clear: both;
  height: 0;
}