body{
	width: 100%;
	margin: auto;	
	font-size: 20px;
	background-size: cover;
	text-align: center;
	background:#F4F8F5;
}

 header{
   clear: both;
   display: block;
   overflow: hidden;
   position: fixed;
   width: 100%;
   height: 7em;
   padding: 1.5em 1.8em 2em 2em;
   text-align: left;
   background-image: url("nat1.JPG");
   background-repeat: no-repeat;
   background-attachment: fixed;
  
 }

h1{
	font-size: 70px;
    font-family: Lora,serif;
	color:#F4F8F5;
	font-weight:200;
     -webkit-text-stroke-width: 2px;
     -webkit-text-stroke-color: black;
    border-bottom: 3px solid black;
	display: inline-block;
	padding: 10px 10px;
    margin: 20px 20px 10px 10px;
    text-align: left;

}

h2{	list-style-type:none; 
	text-decoration: none;
    letter-spacing: 5px;
	color: #D6E6FF;
	font-family: Lora, sans-serif;

}

nav,.nav-list-item,.navbar a 
{
	padding: 0px 0px;
    margin: 2em 0 3em 1em;      
    display: box;
    list-style-type:none; 
	text-decoration: none;
    letter-spacing: 5px;
	color: #D6E6FF;
	font-size: 1.5em;
	font-family: Lora, sans-serif;
	-webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: black;
   
}

aside, ul,li {
	float: left;
	width: 220px;
	padding: 20px 5px;
	margin:  25px 20px 0 5px;
	font-size: 25px;
	display: inline;
			
}
#content,img{
	float: right
	padding:6em 0em 6em 0em;
	margin: 6em 0em 8em 4em ;
	height: 900px;
}

#column2{
	margin: 0em 8em;
	padding: 0 0;
	
}

.clearfixafter{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}
.column{
	float: left
}